<div class="flash-card border-on-hover">
    <h3>{{ card.category }}</h3>
    <h1>{{ card.question | uppercase }}</h1>
    <ul class="flash-card-answers">
      <li
        class="flash-card-answer"
        ng-show = "cheat";
        ng-repeat="answer in card.answers | cheat"
        ng-click="answerQuestion(answer, card)">{{ answer.text }}
      </li>
      <li
        class="flash-card-answer"
        ng-show ="!cheat"
        ng-repeat="answer in card.answers"
        ng-click="answerQuestion(answer, card)">{{ answer.text }}
      </li>

    </ul>
    <h2
      class="answer-feedback"
      ng-class="card.answeredCorrectly ? 'correct' : 'incorrect'"
      ng-show="card.answered">
        <span ng-show="card.answeredCorrectly">Yeah, you got it right!</span>
        <span ng-show="!card.answeredCorrectly">Nope, you got it wrong.</span>
    </h2>
</div>
