<!DOCTYPE html>
<html>
    <head>
        <title>Flash Cards</title>
        <!-- We've provided some styles for you, aren't we nice? -->
        <link rel="stylesheet" type="text/css" href="/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body ng-app="flashCards">
      <div ng-include="'templates/statistics.html'"></div>

      <div ng-controller="MainController">
        <div class="button-row">
            <button class="category-button"
                    ng-class="{active: categories.active === 'all'}"
                    ng-click="getCategoryCards()">All</button>
            <button class="category-button"
                    ng-class="{active: categories.active === category}"
                    ng-click="getCategoryCards(category)"
                    ng-repeat="category in categories">{{ category }}</button>
            <button class="category-button"
                    ng-class="{active: cheat}"
                    ng-click="enableCheat()">Cheat!</button>
        </div>
        <loader class="loader" ng-show=loading></loader>
      	<flash-card ng-show=!loading card="flashCard" ng-repeat="flashCard in flashCards | orderBy : 'question'"></flash-card>
      </div>
    	<script src="/js/lib/angular.js"></script>
    	<script src="/js/app.js"></script>
      <script src="/js/factories/FlashcardFactory.js"></script>
      <script src="/js/factories/ScoreFactory.js"></script>
    	<script src="/js/controllers/main.controller.js"></script>
      <script src="/js/controllers/StatsController.js"></script>
      <script src="/js/filters/cheat.js"></script>
      <script src="js/directives/loader/loader.js"></script>
      <script src="js/directives/flash-card/flash-card.js"></script>
      <script src="js/directives/border-on-hover.js"></script>
    </body>
</html>
